@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
--pimary-color:#030712;
--color-white:rgb(219, 217, 217);
--secondary-color:#A87A2A;
--font-family: "Playfair Display", serif;
}

*{
     font-family: "DM Sans", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: var(--pimary-color);
}

.navigation{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    align-items: center;

}
/* .logo{
    background-color: red;
} */
.logo img{
    height: 40px;
    width: fit-content;
    /* aspect-ratio: square; */
}

.nav_items{
    display: flex;
    align-items: center;
    gap: 30px;
}


.nav_items a{
    color: var(--color-white);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
}

.consultant_button div svg{
    color: var(--color-white) !important;
}

.consultant_button{
    display: flex;
    gap: 20px;
    align-items: center;
}

.consultant_button .button{
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--secondary-color);
    color: var(--color-white);
    position: relative;
    overflow: clip;
    transition: all .3s ease-in-out;


}

.consultant_button .button .button_text{
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.consultant_button .button .hov_button{
    background-color: var(--color-white);
    height: 100%;
    width: 0%;
    position: absolute;
    top:0px;
    left: 0px;
    content: "";
    contain: "";
    transition: all .3s ease-in-out;
}
.consultant_button .button:hover{
    color: var(--secondary-color);
}
.consultant_button .button:hover .hov_button{
    width: 100%;
}

.menu{
    display: none;
}


/* hero section */

.hero{
    width: 100%;
        height: 80vh;

    /* background-color: green; */
    padding: 30px 0px;
    background-image: url('../resources/background.jpg');
    position: relative;
}

.hero::after{
    height: 100%;
    width: 100%;
    contain: "";
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.434);
}
.hero_top{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.213);
    width: fit-content;
    border-radius: 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    
}
.hero_top svg{
    color: var(--secondary-color) !important;
}
.hero_body{
    width: 90%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    position: relative;
    z-index: 1;
}
.hero_title{
    font-family: var(--font-family);
    font-size: 58px;
    font-weight: 600;
    width: 40%;
    color: var(--color-white);
}

.hero_description{
    width: 45%;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: var(--color-white);
}

.hero_cta{
    display: flex;
    gap: 10px;
    align-items: center;
}

.hero_cta div{
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    position: relative;
    overflow: clip;
}
.hero_cta div p{
    position: relative;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}
.hero_cta div::after{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:white;
    content: "";
    top: 0px;
    left: 0px;
    contain: "";
    /* z-index: -1; */
    filter: blur(10px);
}

.hero_cta div:first-child{
    background-color: var(--color-white);
}






.hero_button{
    display: flex;
    gap: 10px;
    align-items: center;
}

.hero_button .second{
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: none;
    /* background-color: var(--color-white); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-size: 16px;
    font-weight: 700;

}
.hero_button .primary{
     padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: var(--secondary-color);
    font-size: 16px;
    font-weight: 700;
    color: var(--color-white);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 10px;
} 


.primary svg{
    height: 20px !important;
    width: 20px !important;
}





/* media query */

@media (max-width:480px){
    .navigation{
    padding: 12px 0px;

}
.logo img{
    height: 30px;
}
.nav_items{
    display: none;
}

.consultant_button{
    display: none;
}

.menu{
    display: block;
    color: var(--color-white);
    cursor: pointer;
}

}